.App .filters {
  padding: 10px 0;
}
.filter-top {
  display: flex;
  justify-content: left;
  position: relative;
  gap: 3px;
  flex-wrap: wrap;
}

.filter-top .market__select,
.market__input {
  width: 145px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #fbb44f;
  font-size: 16px;
  text-align: left;
  color: #f7f7f7;
  padding: 0 10px;
  /* margin-bottom: 8px; */
  outline: 0;
  background: #162840;
}
.market__input{
  font-size: 14px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.market__input {
  width: 70px;
}
.character-item {
  height: auto;
  max-width: 240px;
  min-width: 183px;
  width: 100%;
  background: linear-gradient(
    to top,
    #049ec4 0,
    rgba(32, 93, 133, 0.93) 31.56%,
    rgba(33, 61, 94, 0) 100%
  );
  border-radius: 16px;
  padding-bottom: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.character-item .head {
  display: flex;
  justify-content: space-between;
  height: 44px;
  background: rgba(43, 145, 158, 0.651);
  border-radius: 16px 16px 0 0;
  position: relative;
  padding: 6px 11px;
  z-index: 10;
  text-align: center;
  margin-bottom: 0;
  align-items: center;
  font-size: 16px;
  color: white;
}
.head .id {
  text-align: center;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.character-type {
  position: absolute;
  top: 52px;
  right: 0px;
}
.character-type img {
  width: 75px;
}
.content .img {
  z-index: 1;
  padding-bottom: 100%;
  height: auto;
  margin-bottom: -29px;
  position: relative;
}
.content .img .img-left {
  position: absolute;
  z-index: 1;
  left: 12px;
  top: 12px;
}
.content .img .img-left .icon {
  border-radius: 50%;
  margin-bottom: 3px;
}
.content .img .img-left .icon img {
  height: 44px;
  width: 44px;
}
.content .img .img-left .icon_text {
  width: 44px;
  margin-top: 0px;
}
img {
  vertical-align: middle;
}
.content .img .main {
  bottom: 10%;
  top: unset;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  max-height: 90%;
}
.content .img .img_aura {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("https://app.elemon.io/assets/images/aura/quality_1.png"); */
  background-position: bottom center;
  z-index: -1;
  background-size: 100%;
  background-repeat: no-repeat;
}
.content .img .img_aura.quality_1 {
  background-image: url("https://app.elemon.io/assets/images/aura/quality_1.png");
}
.content .img .img_aura.quality_2 {
  background-image: url("https://app.elemon.io/assets/images/aura/quality_2.png");
}
.content .img .img_aura.quality_3 {
  background-image: url("https://app.elemon.io/assets/images/aura/quality_3.png");
}
.content .img .img_aura.quality_4 {
  background-image: url("https://app.elemon.io/assets/images/aura/quality_4.png");
}
.content .img .img_aura.quality_5 {
  background-image: url("https://app.elemon.io/assets/images/aura/quality_5.png");
}
.content .img .img_aura.quality_6 {
  background-image: url("https://app.elemon.io/assets/images/aura/quality_6.png");
}
.content .img .img_aura.quality_7 {
  background-image: url("https://app.elemon.io/assets/images/aura/quality_7.png");
}
.content .img .img_aura.quality_8 {
  background-image: url("https://app.elemon.io/assets/images/aura/quality_8.png");
}

.market-show
  .module
  .module-content
  .market-elemon.market-box
  .elemon-collection
  .character-item
  .content
  .text {
  padding: 0 20px;
}
.content .text {
  padding: 0 20px;
}
.content .text .price {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pt_bold;
  margin-bottom: -4px;
  font-size: 16px;
  color: #aae2fe;
  min-height: 30px;
}

.content .text .box__btn {
  width: 100%;
  height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: pt_bold;
  font-size: 18px;
  color: #fff;
  -webkit-box-shadow: 0 3px 6px rgb(105 145 255 / 62%);
  box-shadow: 0 3px 6px rgb(105 145 255 / 62%);
  position: relative;
  z-index: 10;
  border-radius: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-decoration: none;
  /* background: linear-gradient(#fd9c00 0, #fdc325 100%); */
}
.content .text .box__btn:after {
  content: "";
  height: 46px;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(#fd9c00 0, #fdc325 100%);
  z-index: -1;
  border-radius: 14px;
}
.content .text .box__btn:before {
  content: "";
  height: 46px;
  width: 100%;
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(#fd9c00 0, #fd9925 100%);
  z-index: -2;
  border-radius: 14px;
}
.owner::after {
  background: linear-gradient(#fd0000 0, #f77 100%) !important;
}
.owner::before {
  background: linear-gradient(#fc5454 0, red 100%) !important;
}

.content .text .element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.element.power {
  border: 2px solid #d42d31;
  padding: 2px 5px;
  border-radius: 5px;
}
.element .icon {
  border-radius: 5px 0px 0px 5px;
  border: 2px solid #d42d31;
  height: 36px;
  border-right: none;
}
.element .icon img {
  width: 32px;
  height: 32px;
}
.element .element__name {
  font-family: pt_bold;
  font-size: 20px;
  text-align: left;
  color: #fff;
  align-items: center;
  margin: 0;
  /* margin-left: 5px; */
  padding: 0px 5px;
  border: 2px solid #d42d31;
  height: 36px;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
}
.timeUpdate {
  margin-top: 0px;
  text-align: left;
}
.css-1480iag-MuiInputBase-root-MuiInput-root {
  height: 26px !important;
}
button {
  border: none;
}
.filter_power {
  margin-left: 2px;
}
.filter_power:before {
  content: "\a";
  /* white-space: pre; */
}
.filter-top:nth-child(3) {
  page-break-after: always; /* CSS 2.1 syntax */
  break-after: always; /* New syntax */
}

.filters_expand {
  display: flex;
  width: 30%;
  justify-content: space-around;
  color: #049ec4;
}
.filter_item h5::before {
  content: url("https://app.elemon.io/assets/images/icon_filter_header.png");
  left: 0px;
  transform: translateY(-50%);
}
.filter_item {
  width: 50%;
}
.MuiInput-underline {
  margin-top: 10px;
}

.checkbox_item {
  display: grid !important;
  grid-template-columns: auto auto auto;
  gap: 10px;
  width: 100%;
}
#min-power-label,
#max-power-label {
  top: -5px;
}
.checkbox_item label {
  width: 50px;
}
.MuiCheckbox-root {
  padding: 0px !important ;
}
.rarity {
  padding: 5px !important;
}
.rarity .MuiFormControlLabel-root {
  margin-left: -5px;
}
.aura .MuiFormControlLabel-root {
  margin: 0px;
}

@media screen and (max-width: 880px) {
  .filter-top .market__select {
    width: calc(50% - 3px);
  }
  .filter-top {
    justify-content: center;
  }

  .head {
    height: 24px !important;
  }
  .character-type {
    top: 40px;
  }
  .timeUpdate {
    text-align: center;
  }
  .filters_expand {
    width: 100%;
  }
  .input_power{
    width: 85px !important;
  }
  .btnConfirm_power{
    width: 80px !important;
  }
  .css-1wt0ykv{
    margin-top:10px !important
  }
}

::placeholder {
  color: #f7f7f7;
  text-align: center;
  /* font-size: 5px; */
}
