#modal_import {
  animation: showModal 0.5s forwards;
}
#PortfolioWallet-section table thead th:last-child {
  width: 40px;
}

/* .css-1v4ccyo fieldset {
  border-color: rgba(0, 0, 0, 0.23) !important;
} */
@media screen and (max-width: 880px) {
  #PortfolioWallet-section table thead th {
    padding: 5px;
  }
  #PortfolioWallet-section table tbody td {
    padding: 0px;
  }
  #PortfolioWallet-section table tbody th {
    padding: 16px 0px 16px 10px;
  }
}
@keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
