.App {
  text-align: center;
  padding: 0 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiTabs-indicator.css-ttwr4n,
.css-1aquho2-MuiTabs-indicator {
  background-image: linear-gradient(to right, #4568dc, #b06ab3);
}
.css-1q2h7u5,
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  width: calc(100% /3);
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected,
.css-1q2h7u5.Mui-selected {
  font-weight: 800;
}

@media screen and (max-width: 880px) {
  .App {
    padding: 0 5px;
  }
}
