.App {
  text-align: center;
  padding: 0 100px;
  margin-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#tokenPrice {
  font-weight: 500;
  text-align: left;
  padding-left: 20px;
}
#swap-raca {
  font-weight: 500;
  text-align: left;
  padding-left: 20px;
}
#swap-raca input {
  height: 20px;
}
#tablePrice {
  width: 60%;
  border-spacing: 10px;
}
.cards {
  display: flex;
  flex-flow: row wrap;
  margin-left: -12px;
  margin-right: -12px;
  row-gap: 0px;
  padding: 40px 0;
}
.card {
  padding-left: 12px;
  padding-right: 12px;
}
.nft {
  width: 286px;
  height: 456px;
  margin-bottom: 60px;
  border: 2px solid rgba(56, 56, 56, 0.1);
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}
.imgBox {
  position: relative;
  width: 284px;
  height: 284px;
  border-radius: 0;
}
.textBox {
  padding: 16px 16px 0;
}
.image-nft {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.name-nft {
  color: #383838;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  white-space: nowrap;
}

.separate {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: -12px 0;
}
.priceNum {
  margin-left: 12px;
  color: #383838;
  font-weight: 700;
  font-size: 16px;
  font-family: PingFang SC;
  font-style: normal;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
}
.price {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#withdraw {
  width: 40%;
  height: 400px;
}
#addTransaction {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 10px;
}
#toggleButton {
  width: 50%;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #4568dc, #b06ab3);
}

#addButton {
  background-image: linear-gradient(to right, #6190E8 , #A7BFE8  )

}

@media screen and (max-width: 840px) {
  .App {
    padding: 0 5px;
  }
  .nft {
    width: 100%;
    height: 80%;
    margin-bottom: 24px;
  }
  .cards {
    width: 100vw;
  }
  .card {
    width: 43%;
    height: 100%;
  }
  .imgBox {
    width: 100%;
    height: 175px;
  }
  .name-nft {
    font-size: 11px;
  }
  .textBox {
    padding: 0px 16px;
  }
  #tablePrice {
    overflow-x: auto;
    border-spacing: 8px;
  }
  #tablePrice td {
    word-wrap: break-word;
    border-collapse: collapse;
  }
  #table-scroll {
    overflow-x: scroll;
  }
  .css-19kzrtu {
    padding: 24px 0px !important;
  }
  #sales-section table tbody th:first-child,
  #sales-section table thead th:first-child {
    position: sticky;
    left: 0;
    background-color: white;
    padding-right: 10px;
  }
  #withdraw {
    width: 100%;
  }
  #addTransaction {
    width: 100%;
  }
}
